<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.enise.unitynebulaplugin">

    <application>

        <activity android:name=".NebulaPlugin">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

    </application>
</manifest>